body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    background-color: black;
}

.p2S{
    text-align: center;
    margin: 25px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: rgb(23, 238, 15);
    padding: 15px;
    line-height: 30px;
    align-items: center;
    display: inline-block;
    padding-left: 25px;
}

nav{
    display: center;
    background-color: rgb(63, 63, 63);
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    height: 60px;
    text-align: center;
}

.p1S {
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 90px;
}

.p1I {
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 90px;
}

.div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

p{
    color: rgb(23, 238, 15);
}

.imgNos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
}
.p2I{
    text-decoration: none;
}